.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  margin-bottom: 4px;
  font-size: 14px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}